# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
build_log.txt
final_build_log.txt
preview.log
used_images.txt
dev.log
astro_output.log


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
«Рассказы_маленькой_собачки_по_имени_Фиби».pdf
node_modules/
